<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="../assets/2page.css">
</head>
<body>
     <!--preloader -->
     <div id="preloader">
    </div>

    <nav>
        
        <ul id="nav">
            <img src="../assets/menu.jpg" id="menu" onclick="toggle()">
            <li><a href="/2page" >DASHBOARD </a></li>
            <li><a href="/3page">PROJECTS</a></li>
            <li><a href="/4page">END_SEMESTER</a></li>
            <li><a href="/5page">PLACEMENTS</a></li>
            <li><a href="/logout" id="logout">LOGOUT</a></li>
            
        </ul>
    </nav>

<div id="main">
   <div id="profile">
       <h2>My Profile</h2><br>
       <img src="../assets/profile_image.jpg"><br>
       <h5 id="name">NAME-</h5><br>
       <h5 id="studentid">STUDENT_ID-</h5><br>
       <h5>COURSE - B.TECH</h6><br>
       <h5>SEMESTER - V</h6><br>
       <h5>YEAR - 3rd</h6><br>
    </div>
    <div id="content">
        <h1>Evaluation of Academic Performance System</h1>
        <img src="../assets/1.jpg" id="img">
    </div>
</div>
</body>
<script>
    /*preloader*/
var loader=document.getElementById("preloader");
window.addEventListener("load",function(){
    loader.style.display="none";
})

// toggle menubar
function toggle()
{
    var menu=document.getElementById("menu");
    var profile=document.getElementById("profile");
   if(profile.style.display == "block") { 
    profile.style.display = "none";
 var content=document.getElementById("img");
 img.style.width = "1260px";
  }
  else { 
    profile.style.display = "block";
    var content=document.getElementById("img");
 img.style.width = "970px";
  }
}

//banner
 var content=document.getElementById("img");
 var ar=["../assets/2.jpg","../assets/3.jpg","../assets/4.jpg","../assets/1.jpg"];
 var i=0;
 function images()
 {
     //console.log("nidhi");
    content.src=ar[i];
    i++;
    if(i>=4)
    {
        i=0;
    }
 }
 setInterval(images,3000);

</script>
</html>