<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation System</title>
    <link rel="stylesheet" href="../assets/1page.css">
</head>
<style>
    .admin_btn{
        padding-left: 143px;
    padding-right: 143px;
    }
</style>
<body>
       <!--preloader -->
           <div id="preloader">
            </div>
   <div id="page">

   <h1 id="heading1">Evaluation of Academic Performance System</h1>
      <!-- login -->
  
    
    <form action='/admin1'id="loginheading" method="post">
        <h2 id="heading2"> Admin Login </h2><br>
        <div class="col"></div>
        <input type="text" placeholder="USERNAME" name="username" id="username">
        <input type="password" placeholder="PASSWORD"  name="password" id="password">
        <input type="submit" id="login" value="LOGIN">
    </form>
    <a class="admin_btn" href="/">STUDENT LOGIN</a>
    </div>
</div> 
</body>
<script>
    /*preloader*/
var loader=document.getElementById("preloader");
window.addEventListener("load",function(){
    loader.style.display="none";
})
</script>
</html>
