*{
    margin: 0;
    padding: 0;
}
body{
    background: url("pexels-janko-ferlic-590493.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.main
{
    width: 300px;
    height: 200px;
    background:rgba(17, 17, 17, 0.815);
    margin-top: 100px;
    text-align: center;
    margin-left: 500px;
    color: white;  border: white solid 6px;
    border-radius: 1px;
}
.main h1{
    padding: 30px;
}
.main h3{
    margin: 30px;
    background:darkcyan;
    padding: 5px;
    border: rgb(22, 13, 13) solid 1px;
    
}
.main a{
    text-decoration: none;color: white;
cursor: pointer;

}
#preloader{
    background: #000 url("preloader.jpg") no-repeat center center;
    background-size: 15%;
     height: 100vh;
     width: 100%;
     position: fixed;
     z-index: 100;
     top: 0;
     text-shadow:  0 0 0 50px rgb(234, 236, 233),
                 0 0 0 100px #fff,
                 0 0 0 150px #fff,
                 0 0 0 200px #fff,
                  0 0 0 250px #fff;
    animation :animate 5s linear infinite;
 }
 @keyframes animate {
     0%{
         filter: hue-rotate(0deg);
     }
     100%{
         filter: hue-rotate(360deg);
     }
     
 }